
main{
  background-color:transparent;
  padding-bottom: 2vh;
    background-image: url('images/sport10.jpg');
  background-position:top;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-size: cover;
   background-color:#F5F5F1;
}
#voleyball{
  display: none;
  background-image: url('sport/vb2.jpg');
  background-position:center;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-color:#E5E5E5;
  background-size:100%; 
  margin:-1vh auto 0px;
  
}
#atletika{
  display: none;
  height: auto;
  background-image: url('sport/atl.avif');
  background-position:center;
  background-attachment: fixed;
  background-color:#E5E5E5;
  background-size:cover; 
  margin:-1vh auto 0px;
  padding-top: 1vh;
}
#tenis{
  display: none;
  background-image: url('sport/ttb.jpg');
  background-position:center;
  background-attachment: fixed;
  background-color:#E5E5E5;
  background-size:cover; 
  margin: -1vh auto 0px;
  padding-top: 1vh;
}

  h4{
    margin:1vh auto;
    font-size: 1.5vw;
    font-weight: 700;
  }
  .pics{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin:2vh auto 5vh;
    width:100%;
  }
  .card{
    width: 23vw;
    padding: 0px;
    transition:  transform 2s;
    margin: 1vh 2vw;
  }
  .half{
    width: 49%;
  }
 
   #voleyball img,
   #atletika img,
   #tenis img{
    width:100%;
 }
 a{
  text-decoration: none;
  text-align: center;
  color: black;
 }
 .card:hover{
                transform: scale(1.1);    
            }
  .atletika{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    width: 88%;
  }
    .atletika2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    margin:auto;
    width: 44%;
    transition:  transform 2s;
  }
  .atletika2:hover{
    transform: scale(1.1);    
}
  .voley{display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    margin:auto;
    width: 44%;
  }
  .container {
    position: relative; /* Настройте контейнера като относително позициониран */
    max-width: 50%;
  }
  
  .divider {
    position: absolute; /* Настройте линиите като абсолютно позиционирани */
    top: 50%; /* Поставете горната част на линията в средата на контейнера */
    height: 1px; /* Височина на линията */
    background-color:  #172029; /* Цвят на линията */
    width: 50%; /* Ширина на линията */
  }
  .left {
    left: 0; /* Поставете левия край на линията в началото на контейнера */
    transform: translateX(-50%); /* Центрирайте линията хоризонтално */
  }
  .right {
    right: 0; /* Поставете десния край на линията в края на контейнера */
    transform: translateX(50%); /* Центрирайте линията хоризонтално */
  }
  
.row{
  flex-wrap: wrap;
}
    @media (max-width: 768px) {
      section #atletika a.previous img, section #atletika a.next img {
        width: 120%; /* Увеличаване на ширината за по-добра видимост */
        max-width: 20vw; /* Може да коригирате стойността според нуждите */}
     
      h1{
        font-size: 1.3rem;
      }
      h4{
        font-size: 1.2rem;
      }
      .atletika{
        flex-direction: column;
      }
      .atletika2{
        width: 90%;
      }
      .voley{
        width: 90%;
      }
      #voleyball{
        background-position:top;
        background-size: cover;
      }
      .half{
        width: 90%;
      }
      .card{
        width: 45%;
      }
    }
    @media (max-width: 480px) {
      
        .card{
          width: 70%;
        }
      
      
  }