*{
        margin: 0px;
        padding: 0px;
    } 
     body{
        font-family: "Philosopher", sans-serif;
        font-weight: 700;
        font-style: normal;
        background-color: #f8f9fa;
        background-image: url('images/belbg.jpg');
      background-position:bottom;  
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
        }
   header {
      
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content:space-between;
      border-bottom: 1px solid #dee2e6;
    }
     .header-logo {
      height: 130px;
    }
header > h2 {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  color: #013476;
  margin: 2vh 0;
}

header > h1 {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2vh;
}

   .navbar-custom {
      background-color: #005e92;
    }
  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link,
  .navbar-custom .dropdown-toggle{
    color: #ffffff !important;
    font-size: 1.1rem;
     transition: color 0.3s ease;
  }
  .navbar-custom .navbar-brand:hover {
    color: #fdb700 !important;}
  .navbar-custom .nav-link:hover,
  .navbar-custom .dropdown-toggle:hover  {
    color: #fdb700 !important;
  }
  .navbar-custom .dropdown-item:hover {
   background-color: rgba(255, 255, 255, 0.1);
    color:  #fdb700 !important;  
  }
  
    /* Покажи подменюто при hover */
    .nav-item.dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0; /* премахва забавянето */
    }

    /* Добавяне на разделители в dropdown */
    .dropdown-divider {
      margin: 0.3rem 0;
    }

    .nav-link, .dropdown-item {
      cursor: pointer;
    }
   
    h1 {
      font-size: 2rem;
      margin: 0;
      text-align: center;
      font-weight: 700;
    }
    h2 {
      font-size: 1.5rem;
      margin: 2vh 0px;
      text-align: center;
      font-weight: 700;
      color: #013476;
    }
    p{
      font-size: 1.1rem;
        text-align: justify;
    }
    a{
        color: #013476;
    }
    footer{ 
    height: 33vh;   
    background-image: url("images/bgPF.png");
    background-position:bottom;
    background-size:100%;
    background-repeat: no-repeat;
    }

    @media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 2vw;
  }

  .header-logo {
    height: 90px;
    margin-bottom: 7px;
  }
  header > h2 {
    font-size: 1.2rem;
  }

  header > h1 {
    font-size: 2rem;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .navbar-nav .nav-link,
  .dropdown-menu .dropdown-item {
    text-align: center;
  }

  .navbar-toggler {
    border-color: #fdb700;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fdb700' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  footer{ 
     height: 15vh;   
    }
}
    